<form>
  <label for="title">Card Title</label>
  <input type="text" id="title" name="card[title]">

	<!-- <label for="description">Card Description</label>
  <input type="textarea" id="description" name="card[description]"> -->
  
  <input type="submit" value="Create it!">
</form>