<form>
  <label for="title">Card Title</label>
  <input type="text" id="title" name="card[title]">

	<label for="description">Card Description</label>
  <input type="textarea" id="description" name="card[description]">
  
	<label for="rank">Card Rank</label>
  <input type="text" id="rank" name="card[rank]">
  
  <input type="submit" value="Create it!">
</form>