<form>
  <label for="title"></label>
  <input type="text" id="title" name="card[title]" placeholder="Create a new card!">

	<!-- <label for="description">Card Description</label>
  <input type="textarea" id="description" name="card[description]"> -->
  
  <input type="submit" value="Create it!" class="btn btn-primary">
</form>