<div class="panel panel-default card-detail" data-id="<%= card.id %>" style="background-color:#fff">
	<span class="card-title">
		<%= card.escape('title') %>
		<%= card.escape('rank') %>
		<button class="destroy hidden btn btn-danger" type="button">Delete!</button>
	</span>
</div>