<h1>Let's build a board...yea!</h1>

<form>
  <label for="title">Board Title</label>
  <input type="text" id="title" name="board[title]">

  <input type="submit" value="Create it!" class="btn btn-primary">
</form>

<a href="#">The Boards</a>