<h1>A board named:</h1>
<h3 style="color: green"><%= board.escape('title') %></h3>
<br>
<h2>Some Lists</h2>

<ul class="row lists"></ul>

<div class="lists-new"></div>

<a href="#">Back to the Boards</a>