<h1>A fancy board</h1>

Board Title:
<h3><%= board.escape('title') %></h3>
<br>
<h1>Some Lists</h1>

<div class="row">
	<div class="col-md-12">
		<div class="lists"></div>
	</div>
</div>
<div class="row">
	<div class="lists-new"></div>
</div>

<a href="#">Back to the Boards</a>