<h1>Time to build a list...</h1>

<form>

  <label for="title">List Title</label>
  <input type="text" id="title" name="list[title]">

  <label for="rank">List Rank</label>
  <input type="text" id="rank" name="list[rank]">

  <input type="submit" value="Create it!">
</form>