<div class="panel panel-primary list-detail col-md-4" style="float: left">
	<div class="panel-heading">
		<h4>
			<span class="list-title">
				<%= list.escape('title') %>
				<button class="destroy hidden" data-id="<%= list.id %>" type="button">Delete!</button>
			</span>
		</h2>
	</div>
	<div class="panel-body">
		<ul class="card-list cards" data-id="<%= list.id %>">
		</ul>
	</div>
	<div class="panel-footer">
		<div class="cards-new"></div>
	</div>
</div>